
*{  
    margin: 0;  
    padding: 0;  
}
 
/*
header, footer, aside, nav, article {  
    display: block;  
}*/ 
 /*
 body {  
    margin: 0 auto;  
    width: 940px;  
    font-family:"Comic Sans MS", cursive; 
    background: #FFF;  
} 
*/ 
/*
h2 {  
    font-size: 18px;  
    line-height: 44px;  
    padding: 22px 0;  
} 

*/ 
#image1 {
	width:788px;
	height: 145px;
	background-image:url('/public/img/perfil/gim_logo.gif');
	background-position: center;
    }

#sidebar {
    float: left;
    width: 240px;
    padding-bottom: 20px;
}

#sidebar h2 {
    padding-left: 20px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    color: #FFFFFF;
    background: #3476A7 url('/public/img/perfil/h2.jpg') no-repeat;
}

#sidebar .box {
    padding: 15px 20px 20px 20px;
    background: url('/public/img/perfil/box.jpg') no-repeat top;
}

#sidebar p {
    text-align: left;
}

#sidebar ul {
    list-style: none;
    padding: 15px 0 24px 0;
    background: url('/public/img/perfil/box.jpg') no-repeat top;
    cursor: pointer;
    
}

#sidebar ul:hover {
    list-style: none;
    padding: 15px 0 24px 0;
    background: url('/public/img/perfil/box.jpg') no-repeat top;
    cursor: pointer;
    opacity: 50;
    
}

#sidebar ul li {
    padding: 3px 10px 3px 20px;
    line-height: 1.8em;
    border-bottom: 1px solid #E0EBF2;
 
}

#sidebar ul li.on {
    background:#A9A9A9
 
}

#sidebar ul li.off {
   background: #F0F8FF;
 
}

#sidebar ul li a {
    padding: 0;
}

#main {
    width: 100%;
    min-width: 960px;
    padding: 12px 0;
    background: #FFFFFF;
}

#main2 {
    width: 908px;
    margin: 0 auto;
    padding: 25px 25px 0 25px;
    border: 1px solid #E0EBF2;
}



body {
    padding-bottom: 30px;
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444444;
    background: #418AB5;
}

h1 {
    padding: 15px 0 0 30px;
    font-size: 38px;
    color: #FFFFFF;
}

h1 a, h1 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    padding: 10px 0;
    line-height: 1.8em;
    text-align: justify;
}

p#subtitle {
    padding: 0 0 0 30px;
    font-style: italic;
    font-size: 14px;
    text-transform: lowercase;
    color: #FFFFFF;
}

a {
    color: #4082B2;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* header */

#header {
    position: relative;
    width: 960px;
    height: 200px;
    margin: 0 auto;
   /* background: #26639C url('img/header.jpg') no-repeat;*/
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 77px;
    border: none;
}

/* menu */



/* search form */


/* main */

#main {
    width: 100%;
    min-width: 960px;
    padding: 12px 0;
    background: #FFFFFF;
}

#main2 {
    width: 908px;
    margin: 0 auto;
    padding: 25px 25px 0 25px;
    border: 1px solid #E0EBF2;
}

/* sidebar */

#sidebar {
    float: left;
    width: 240px;
    padding-bottom: 20px;
}

#sidebar h2 {
    padding-left: 20px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    color: #FFFFFF;
    background: #3476A7 url('/public/img/perfil/h2.jpg') no-repeat;
}

#sidebar .box {
    padding: 15px 20px 20px 20px;
    background: url('/public/img/perfil/box.jpg') no-repeat top;
}

#sidebar p {
    text-align: left;
}

#sidebar ul {
    list-style: none;
    padding: 15px 0 24px 0;
    background: url('/public/img/perfil/box.jpg') no-repeat top;
}

#sidebar ul li {
    padding: 3px 10px 3px 20px;
    line-height: 1.8em;
    border-bottom: 1px solid #E0EBF2;
}

#sidebar ul li a {
    padding: 0;
}

/* content */

#content {
    float: right;
    width: 620px;
    padding-bottom: 5px;
}

#content .post {
    padding: 0 0 45px 0;
}

#content h2 {
    font-size: 2em;
    color: #3476A8;
}

#content h2 a {
    color: #3476A8;
    text-decoration: none;
}

p.postmeta {
    color: #888888;
}

#content .entry {
    padding: 10px 0 0 0;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

/* footer */

#footer {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px;
    background: url('/public/img/perfil/footer.jpg') no-repeat top;
}

#footer p {
    text-align: center;
    color: #FFFFFF;
}

#footer a {
    color: #AFD8E8;
}

/*  style de gim3: cabecera */

nav {  
	width:788px;
    position: absolute;  
	background:url(/public/img/perfil/barra.png) repeat-x;
	float:left;
	text-align:justify;
    
	}

nav ul {  
    margin: 0 auto;  
    width: 788px;  
    list-style: none;  
} 
nav ul li {  
    float: left;  
} 
nav ul li a {  
         
        margin-right: 50px;  
        width: 200px;  
        font-size: 15px;  
        line-height: 44px;  
        text-align: center;  
        text-decoration: none;  
        color: #000000  ;  
    } 
nav ul li a:hover {  
            color: #CCCCFF ;  
        }  
  
        nav ul li.selected a {  
            color: #FF0000 ;  
        }



